body {
    padding-top: 65px;
    font-size: 14pt;
}

.card-height {
  height: 50vh;
  overflow-y: scroll;
}

.hidden_div {
  visibility: hidden;
}

.text_window {
    cursor: pointer;
}

.level_button {
    margin-right: 10pt;
}

.home_div {
    margin-top: 20px;
}

.block_text {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12pt;
}

.table-nonfluid {
    width: auto !important;
    margin: auto;
    font-size: 20pt;
}

.table-holder {
    width: 100%;
}

.info_input {
}

.info_input:focus {
}

.borderless td, .borderless th {
    border: none;
}


/* Modal setup for create project */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loading_modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 25px;
}

.loading_gif {
    padding: 10px;
}

.sorter_header {
    color: white;
    font-weight: bold;
}

.sorter_box:hover {
    background-color: #e8e8e8;
}

.sorter_text:hover {
    background-color: #e8e8e8;
}

.left-button {
  margin-right: 7px;
}

.right-button {
  margin-left: 7px;
}
