tmp
.gitignore
passenger_wsgi.py
ACJ_Logs
ACJ_Logs.zip
**__pycache__
RedKalinka_massive/
tandc.txt
RedKalinka_NoAccents/
plan_b.txt
.todo.txt.swp
venv
flask_session
**.pyc
.idea
crowdsorting/database/crowdsorting.db
crowdsorting/app_resources/admins.txt
notes.txt
text_files
RedKalinka
crowdsorting/app_resources/sorter_instances/
crowdsorting/app_resources/sorting_algorithms/MonteCarlo_buggy.py
..gitignore.swp
rootCA.key
rootCA.pem
crowdsorting/Reject_Logs
crowdsorting/ACJ_Logs
crowdsorting/MC_Logs
default_landing_page.html
todo.txt
crowdsorting/app_resources/admins.txt
crowdsorting/app_resources/sorting_algorithms/acj_testing.py
crowdsorting/app_resources/sorting_algorithms/test.csv
acjproxy_testing.py
acjp_test.csv
local_testing/
