**__pycache__
venv
flask_session
**.pyc
.idea
crowdsorting/ACJ_Log
crowdsorting/database/crowdsorting.db
crowdsorting/app_resources/admins.txt
notes.txt
text_files
RedKalinka
crowdsorting/app_resources/sorter_instances/
