**__pycache__
venv
flask_session
**.pyc
.idea
crowdsorting/database/crowdsorting.db
crowdsorting/app_resources/admins.txt
notes.txt
text_files
RedKalinka
crowdsorting/app_resources/sorter_instances/
crowdsorting/app_resources/sorting_algorithms/MonteCarlo_buggy.py
..gitignore.swp
rootCA.key
rootCA.pem
crowdsorting/Reject_Logs
crowdsorting/ACJ_Logs
crowdsorting/MC_Logs
default_landing_page.html
todo.txt
