{% extends "layout.html" %}

{% block content %}
<div id="accountinfo_content">
    <h1 class="text-center">Account Info</h1>
    <form method="POST" action="updateUserInfo">
        <div id="table-holder" class="mx-auto">
            <table class="table table-nonfluid">
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        <input type="text" name="firstName" class="info_input" value="{{ first_name }}" onkeyup="editText()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        <input type="text" name="lastName" class="info_input" value="{{ last_name }}" onkeyup="editText()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <div>{{ session['user'].get('email') }}</div>
                    </td>
                </tr>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="submit_changes" disabled>Submit Changes</button>
            </div>
        </div>
    </form>
</div>

<script>

    function editText() {
        document.getElementById("submit_changes").disabled = false;
    }


</script>
{% endblock content %}
