{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        {{ consent_form_text | safe }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12 text-center">
        <form id="consent_form" method="POST" action="signconsent">
            <input name="user_email" value="{{ session['user'].get('email') }}" hidden>
            <input name="current_project" value="{{ current_project }}" hidden>
            <input type="hidden" name="admin" value="{{ admin }}">
            <button type="submit" id="consent_agree_button" class="btn btn-lg btn-primary left-button">Agree</button>
            <a href="/"><button type="button" class="btn btn-lg btn-warning right-button" style="color: white;">Disagree</button></a>
        </form>
        <br/>
    </div>
</div>
<br/><br/>
    {% endblock content %}
