{% extends "layout.html" %}

{% block content %}

Sorting page<br>
  <form method="POST" action="deprecated_submitAnswer">
    <input type="radio" name="harder" value="{{ file_one_name }}"> {{ file_one }}<br>
    <input type="radio" name="harder" value="{{ file_two_name }}"> {{ file_two }}<br>
    <button type="submit">Submit Answer</button><br>
    <input type="hidden" name="file_one_name" value="{{ file_one_name }}">
    <input type="hidden" name="file_two_name" value="{{ file_two_name }}">
  </form>


<h3>Easy</h3>
{% for file in sortedFiles %}
{{ file }}<br>
{% endfor %}
<h3>Hard</h3>
{% endblock content %}
