{% extends "layout.html" %}

{% block content %}
<div id="accountinfo_content">
    <h1 class="text-center">Project Info</h1>
    <form method="POST" action="/updateprojectinfo">
        <div id="table-holder" class="mx-auto">
            <table class="table table-nonfluid">
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        {{ name }}
                        <input name="name" value="{{ name }}" hidden>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        <textarea class="form-control" id="description" name="description" maxlength="588" onkeyup="editText()">{{ description }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Selection Prompt:
                    </td>
                    <td>
                        <input type="text" name="selection_prompt" class="info_input" value="{{ selection_prompt }}" onkeyup="editText()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Preferred Prompt:
                    </td>
                    <td>
                        <input type="text" name="preferred_prompt" class="info_input" value="{{ preferred_prompt }}" onkeyup="editText()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Unpreferred Prompt:
                    </td>
                    <td>
                        <input type="text" name="unpreferred_prompt" class="info_input" value="{{ unpreferred_prompt }}" onkeyup="editText()">
                    </td>
                </tr>
                <tr>
                    <td>
                        Consent Form:
                    </td>
                    <td>
                        <textarea class="form-control" id="consent_form" name="consent_form" maxlength="588" onkeyup="editText()">{{ consent_form }}</textarea>
                    </td>
                </tr>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="submit_changes" disabled>Submit Changes</button>
            </div>
        </div>
    </form>
</div>

<script>

    function editText() {
        document.getElementById("submit_changes").disabled = false;
    }


</script>
{% endblock content %}
