{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Welcome to Crowd Sorting!</h1>
        <h2>Please enter your name below:</h2>
        <form method="POST" action="newcasuser">
            <h3><input name="firstName" type="text" placeholder="first name"></h3>
            <h3><input name="lastName" type="text" placeholder="last name" style="margin-bottom: 10px;"></h3>
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}
