{% extends "layout.html" %}

{% block content %}

<form method="POST" action="/submitAnswer">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Select the harder text</h3>
            <input type="hidden" name="harder" id="harder_hidden" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text_window" onclick="a_harder()">
            <div class="card border-secondary mb-3" id="doc_a_div">
                <div class="card-header text-center" id="doc_a_header">
                    <div class="hidden_div">Holding</div>
                </div>
                <textarea readonly class="card-body card-height text_window"
                          style="resize: none">{{ file_one }}</textarea>
            </div>
        </div>
        <div class="col-md-6 text_window" onclick="b_harder()">
            <div class="card border-secondary mb-3" id="doc_b_div">
                <div class="card-header text-center" id="doc_b_header">
                    <div class="hidden_div">Holding</div>
                </div>
                <textarea readonly class="card-body card-height text_window"
                          style="resize: none">{{ file_two }}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Indicate each text's difficulty</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10pt;">
        <div class="col-md-6 text-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success btn-lg level_button">
                    <input type="radio" name="level_a" id="easy_a"
                           autocomplete="off">Really Easy</label>
                <label class="btn btn-secondary btn-lg level_button">
                    <input type="radio" name="level_a" id="neutral_a"
                           autocomplete="off">At My Level</label>
                <label class="btn btn-danger btn-lg">
                    <input type="radio" name="level_a" id="hard_a"
                           autocomplete="off">Really Hard</label>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success btn-lg level_button">
                    <input type="radio" name="level_b" id="easy_b"
                           autocomplete="off">Really Easy</label>
                <label class="btn btn-secondary btn-lg level_button">
                    <input type="radio" name="level_b" id="neutral_b"
                           autocomplete="off">At My Level</label>
                <label class="btn btn-danger btn-lg">
                    <input type="radio" name="level_b" id="hard_b"
                           autocomplete="off">Really Hard</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit
                Answer
            </button>
            <br>
            <input type="hidden" name="file_one_name"
                   value="{{ file_one_name }}">
            <input type="hidden" name="file_two_name"
                   value="{{ file_two_name }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="another_pair" name="another_pair_checkbox" checked>
                <label class="form-check-label" for="another_pair">
                Give me another pair
                </label>
            </div>
        </div>
    </div>
</form>
<script>



  function a_harder() {
    document.getElementById("harder_hidden").value = "{{ file_one_name }}"
    document.getElementById("doc_a_header").innerHTML = "HARDER"
    document.getElementById("doc_b_header").innerHTML = "EASIER"
    document.getElementById("doc_a_div").className = "card border-danger mb-3"
    document.getElementById("doc_a_header").className = "card-header bg-danger text-center"
    document.getElementById("doc_b_div").className = "card border-success mb-3"
    document.getElementById("doc_b_header").className = "card-header bg-success text-center"
  }
  function b_harder() {
    document.getElementById("harder_hidden").value = "{{ file_two_name }}"
    document.getElementById("doc_b_header").innerHTML = "HARDER"
    document.getElementById("doc_a_header").innerHTML = "EASIER"
    document.getElementById("doc_b_div").className = "card border-danger mb-3"
    document.getElementById("doc_b_header").className = "card-header bg-danger text-center"
    document.getElementById("doc_a_div").className = "card border-success mb-3"
    document.getElementById("doc_a_header").className = "card-header bg-success text-center"
  }


</script>
{% endblock content %}
