{% extends "layout.html" %}

{% block content %}

<script>
    header_bar = document.getElementById('header_bar').style.display = 'none';

    var stop_user = 1;

    window.addEventListener('beforeunload', function (e) {
        if (stop_user == 1) {
          // Cancel the event
          e.preventDefault();
          // Chrome requires returnValue to be set
          e.returnValue = '';
      }
    });




  function safe_exit() {
    console.log("allowed to leave");
    stop_user = 0;
    document.getElementById('safe_exit_form').submit();
  }

  function too_hard() {
    console.log("allowed to leave");
    stop_user = 0;
    document.getElementById('too_hard_input').value = "1";
    document.getElementById('hard_easy_form').submit();
  }

  function too_easy() {
    console.log("allowed to leave");
    stop_user = 0;
    document.getElementById('too_hard_input').value = "0";
    document.getElementById('hard_easy_form').submit();
  }

  function submit_pair() {
    stop_user = 0;
    document.getElementById('submit_answer_form').submit();
  }

  function submit_pair_then_home() {
    document.getElementById('another_pair').checked = false;
    submit_pair()
  }




</script>


<div class="row">
    <div class="col-lg-6">
        <form id="safe_exit_form" method="POST" action="/safeexit">
            <div class="row">
                <div class="col-md-12 text-left">
                    <button type="button" class="btn btn-danger btn-lg" onclick="show_safe_exit_modal()">Exit Without Submitting</button>
                </div>
                <input type="hidden" name="file_one_name"
                           value="{{ file_one_name }}">
                <input type="hidden" name="file_two_name"
                           value="{{ file_two_name }}">
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <form id="hard_easy_form" method="POST" action="/hardeasy">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-lg btn-warning text-white" onclick="show_hard_easy_modal()">Too Hard / Too Easy</button>
                </div>
                <input type="hidden" name="file_one_name"
                           value="{{ file_one_name }}">
                <input type="hidden" name="file_two_name"
                           value="{{ file_two_name }}">
                <input type="hidden" name="too_hard"
                            value="1" id="too_hard_input">
            </div>
        </form>
    </div>
</div>
<form id="submit_answer_form" method="POST" action="/submitAnswer">
    <input type="hidden" value="{{ admin }}" name="admin">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>{{ selection_prompt }}</h3>
            <input type="hidden" name="preferred" id="preferred_hidden" value="">
            <input type="hidden" name="time_started" value="{{ time_started }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text_window" onclick="a_preferred()">
            <div class="card border-secondary mb-3 sorter_box" id="doc_a_div">
                <div class="card-header text-center sorter_header" id="doc_a_header">
                    <div class="hidden_div">Holding</div>
                </div>
                <textarea readonly class="card-body card-height text_window sorter_text"
                          style="resize: none">{{ file_one }}</textarea>
            </div>
        </div>
        <div class="col-md-6 text_window" onclick="b_preferred()">
            <div class="card border-secondary mb-3 sorter_box" id="doc_b_div">
                <div class="card-header text-center sorter_header" id="doc_b_header">
                    <div class="hidden_div">Holding</div>
                </div>
                <textarea readonly class="card-body card-height text_window sorter_text"
                          style="resize: none">{{ file_two }}</textarea>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12 text-center">
            <h3>Indicate each text's difficulty</h3>
        </div>
    </div>-->
    <!--
    <div class="row" style="margin-bottom: 10pt;">
        <div class="col-md-6 text-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success btn-lg level_button">
                    <input type="radio" name="level_a" id="easy_a"
                           autocomplete="off">Really Easy</label>
                <label class="btn btn-secondary btn-lg level_button">
                    <input type="radio" name="level_a" id="neutral_a"
                           autocomplete="off">At My Level</label>
                <label class="btn btn-danger btn-lg">
                    <input type="radio" name="level_a" id="hard_a"
                           autocomplete="off">Really Hard</label>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success btn-lg level_button">
                    <input type="radio" name="level_b" id="easy_b"
                           autocomplete="off">Really Easy</label>
                <label class="btn btn-secondary btn-lg level_button">
                    <input type="radio" name="level_b" id="neutral_b"
                           autocomplete="off">At My Level</label>
                <label class="btn btn-danger btn-lg">
                    <input type="radio" name="level_b" id="hard_b"
                           autocomplete="off">Really Hard</label>
            </div>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" id="pair_submit_button" class="btn btn-primary btn-lg" onclick="show_confirm_modal()" disabled>Submit
                Answer
            </button>
            <br>
            <input type="hidden" name="file_one_name"
                   value="{{ file_one_name }}">
            <input type="hidden" name="file_two_name"
                   value="{{ file_two_name }}">
        </div>
    </div>
    <div class="row" style="display: none;">
        <div class="col-md-12 text-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="another_pair" name="another_pair_checkbox" checked>
                <label class="form-check-label" for="another_pair">
                Give me another pair
                </label>
            </div>
        </div>
    </div>
</form>

<div id="confirm_submit_modal" class="modal">
  <div class="modal-content text-center">
      <div class="row">
          <div class="col-md-12 text-center">
          <h2>Confirm</h2>
          {% if admin %}
          <button class="btn btn-success btn-lg left-button" onclick="submit_pair()">Submit</button>
          {% else %}
          <h3>Would you like to judge another pair?</h3>
          <button class="btn btn-success btn-lg left-button" onclick="submit_pair()">New Pair</button>
          <button class="btn btn-primary btn-lg right-button" onclick="submit_pair_then_home()">Go Home</button>
          {% endif %}
          <h3>or</h3>
          <button class="btn btn-warning btn-lg" onclick="hide_confirm_modal()">Cancel</button>
          </div>
      </div>
  </div>
</div>

<div id="confirm_hard_easy_modal" class="modal">
  <div class="modal-content text-center">
      <div class="row">
          <div class="col-md-12 text-center">
          <h2>Confirm</h2>
          <h3>Are you sure these are too hard/easy?</h3>
          <button class="btn btn-danger btn-lg left-button" onclick="too_hard()">Hard</button>
          <button class="btn btn-success btn-lg right-button" onclick="too_easy()">Easy</button><br/>
              <h3>or</h3>
          <button class="btn btn-warning btn-lg" onclick="hide_hard_easy_modal()">Cancel</button>
          </div>
      </div>
  </div>
</div>

<div id="confirm_safe_exit_modal" class="modal">
  <div class="modal-content text-center">
      <div class="row">
          <div class="col-md-12 text-center">
          <h2>Confirm</h2>
          <h3>Are you sure you want to leave without submitting?</h3>
          <button class="btn btn-success btn-lg left-button" onclick="safe_exit()">Yes</button>
          <button class="btn btn-warning btn-lg right-button" onclick="hide_safe_exit_modal()">Cancel</button>
          </div>
      </div>
  </div>
</div>


<script>


  function a_preferred() {
    document.getElementById("preferred_hidden").value = "{{ file_one_name }}"
    document.getElementById("doc_a_header").innerHTML = "{{ preferred_prompt }}"
    document.getElementById("doc_b_header").innerHTML = "{{ unpreferred_prompt }}"
    document.getElementById("doc_b_div").className = "card border-danger mb-3"
    document.getElementById("doc_b_header").className = "card-header bg-danger text-center sorter_header"
    document.getElementById("doc_a_div").className = "card border-success mb-3"
    document.getElementById("doc_a_header").className = "card-header bg-success text-center sorter_header"
    document.getElementById("pair_submit_button").disabled = false;
  }

  function b_preferred() {
    document.getElementById("preferred_hidden").value = "{{ file_two_name }}"
    document.getElementById("doc_b_header").innerHTML = "{{ preferred_prompt }}"
    document.getElementById("doc_a_header").innerHTML = "{{ unpreferred_prompt }}"
    document.getElementById("doc_a_div").className = "card border-danger mb-3"
    document.getElementById("doc_a_header").className = "card-header bg-danger text-center sorter_header"
    document.getElementById("doc_b_div").className = "card border-success mb-3"
    document.getElementById("doc_b_header").className = "card-header bg-success text-center sorter_header"
    document.getElementById("pair_submit_button").disabled = false;
  }


</script>

<div id="timeout_countdown_modal" class="modal">
  <div class="modal-content text-center">
      <div class="row">
          <div class="col-md-12 text-center">
          <h3>Timeout</h3>
          <p>Your time to submit this pair will expire in <span id="time_left_countdown">60</span> seconds.</p>
          <button class="btn btn-primary btn-lg" onclick="more_time()">More time</button>
              <h3>or</h3>
          <button class="btn btn-success btn-lg" onclick="safe_exit()">Exit</button>
          </div>
      </div>
  </div>
</div>


<div id="timeout_modal" class="modal">
  <div class="modal-content text-center">
      <div class="row">
          <div class="col-md-12 text-center">
          <h3>Timeout</h3>
          <p>Your time to submit this pair has expired.</p>
          <a href="/sorter"><button class="btn btn-primary btn-lg">New Pair</button></a>
          <a href="/home"><button class="btn btn-success btn-lg">Home</button></a>
          </div>
      </div>
  </div>
</div>

<script>

  var confirm_submit_modal = document.getElementById('confirm_submit_modal')
  var confirm_hard_easy_modal = document.getElementById('confirm_hard_easy_modal')
  var confirm_safe_exit_modal = document.getElementById('confirm_safe_exit_modal')

  function show_confirm_modal() {
    confirm_submit_modal.style.display = "block";
  }

  function hide_confirm_modal() {
    confirm_submit_modal.style.display = "none";
  }

  function show_hard_easy_modal() {
    confirm_hard_easy_modal.style.display = "block";
  }

  function hide_hard_easy_modal() {
    confirm_hard_easy_modal.style.display = "none";
  }

  function show_safe_exit_modal() {
    confirm_safe_exit_modal.style.display = "block";
  }

  function hide_safe_exit_modal() {
    confirm_safe_exit_modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == confirm_safe_exit_modal) {
      confirm_safe_exit_modal.style.display = "none";
    }
    else if (event.target == confirm_hard_easy_modal) {
      confirm_hard_easy_modal.style.display = "none";
    }
    else if (event.target == confirm_submit_modal) {
      confirm_submit_modal.style.display = "none";
    }
  }

    var modal = document.getElementById('timeout_modal')

    function show_timeout_modal() {
              modal.style.display = "block";
            }

    function show_timeout_countdown_modal() {
        document.getElementById('timeout_countdown_modal').style.display = "block";
    }

    function hide_timeout_countdown_modal() {
        document.getElementById('timeout_countdown_modal').style.display = "none";
    }

    function more_time() {
        json_dict = {
                    pair_id: '{{ pair_id }}',
                    project_name: '{{ project_name }}'
                    };

          var http = new XMLHttpRequest();
          http.open("POST", "/moretime", true);
          http.setRequestHeader("Content-type","application/json");
          http.send(JSON.stringify(json_dict));
          http.onload = function() {
            console.log("more time added");
            set_timeout();
            hide_timeout_countdown_modal();
        }
    }

    function set_timeout() {
        setTimeout(() => {
        stop_user = 0;
        var time_left_countdown = document.getElementById('time_left_countdown');
        i = 59;
        interval = setInterval(function(){
            time_left_countdown.innerHTML = i;
            i -= 1
            if (i == -1) {
                hide_timeout_countdown_modal();
                show_timeout_modal();
                clearInterval(interval);
            }
            }, 1000);
        show_timeout_countdown_modal(); }, {{ timeout }} - 60000);
    }

    set_timeout()


</script>
{% endblock content %}
