{% extends "layout.html" %}

{% block content %}

<meta http-equiv="refresh" content="30"/>

<div class="row">
    <div class="col-lg-12 text-center">
        <h3>Control Tower</h3>
        <h2>{{ current_project }}</h2>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-4">
        <h3 class="text-center">RoundList</h3>
        {% for pair in roundList %}
        {{ pair[0]|truncate(25) }}<br/>
        {{ pair[1]|truncate(25) }}
        <hr/>
        {% endfor %}
    </div>
    <div class="col-lg-4">
        <h3 class="text-center">Users and Pairs</h3>
        {% for pair in pairsCheckedOut %}
        {{ pair }}
        {% endfor %}
    </div>
    <div class="col-lg-4">
        <h3 class="text-center">Pairs Waiting for Recheckout</h3>
        {% for pair in pairsReadyForRecheckout %}
        {{ pair }}
        {% endfor %}
    </div>
</div>
{% endblock content %}
