{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Group Projects</h2>
  </div>
</div>

{% if all_projects|length == 0 %}
Looks like you have no group projects to work on. Check back later!
{% else %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Select a project</h2>
  </div>
</div>
{% for project in all_projects %}
<div class="row">
  <div class="col-lg-12 text-center">
    <button class="btn btn-primary btn-lg" onclick="set_current_project_user('{{ project.name }}')">{{ project.name }}</button>
    <p>{{ project.description }}</p>
    <hr/>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Public Projects</h2>
  </div>
</div>

{% if public_projects|length == 0 %}
Looks like there are no public projects. Check back later!
{% else %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Select a project</h2>
  </div>
</div>
{% for project in public_projects %}
<div class="row">
  <div class="col-lg-12 text-center">
      <button class="btn btn-primary btn-lg" onclick="set_current_project_user_public('{{ project.name }}')">{{ project.name }}</button>
    <p>{{ project.description }}</p>
    <hr/>
  </div>
</div>
{% endfor %}
{% endif %}

<script>

    function activate_user_project_submit() {
        document.getElementById("submit_button").disabled = false;
    }

    function set_current_project_user(project_name) {
          var http = new XMLHttpRequest();
          http.open("POST", "/selectproject/" + project_name, true);
          http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
          var params = "search=" + project_name; // probably use document.getElementById(...).value
          http.send(params);
          http.onload = function() {
              window.location.href = '/home';
          }
      }

      function set_current_project_user_public(project_name) {

          json_dict = {
                    user_email: '{{ current_user.email }}',
                    project_name: project_name
                    };

          var http = new XMLHttpRequest();
          http.open("POST", "/selectpublicproject", true);
          http.setRequestHeader("Content-type","application/json");
          http.send(JSON.stringify(json_dict));
          http.onload = function() {
              window.location.href = '/home';
          }
      }

</script>

{% endblock content %}
