body {
    padding-top: 65px;
    font-size: 14pt;
}

.card-height {
  height: 50vh;
  overflow-y: scroll;
}

.hidden_div {
  visibility: hidden;
}

.text_window {
    cursor: pointer;
}

.level_button {
    margin-right: 10pt;
}

.home_div {
    margin-top: 20px;
}

.block_text {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12pt;
}

.table-nonfluid {
    width: auto !important;
    margin: auto;
    font-size: 20pt;
}

.table-holder {
    width: 100%;
}

.info_input {
    border-width: 0px;
    border: none;
}

.info_input:focus {
    outline-width: 0px;
}

.borderless td, .borderless th {
    border: none;
}